<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-semver="3.3.5" data-require="bootstrap@*" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'fundsprices', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
 
<%= render 'home/header' %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'home/navbar' %>
        <%= yield %>
    </div>
  </div>
  <%= render 'home/footer' %>
  
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="js/fundsprices.js"></script>
  <%= render 'home/new_manager_form' %>

</body>
</html>
